### Import libraries

In [10]:
import os
import pandas as pd
import pyodbc, struct
from azure import identity
from faker import Faker
from typing import Union
from fastapi import FastAPI
from pydantic import BaseModel
from sqlalchemy import create_engine

from dotenv import load_dotenv
load_dotenv(override=True)
connection_string = os.environ["AZURE_SQL_CONNECTIONSTRING"]

SQL_SERVER_USERNAME = os.environ["SQL_SERVER_USERNAME"]
SQL_SERVER_ENDPOINT = os.environ["SQL_SERVER_ENDPOINT"]
SQL_SERVER_PASSWORD = os.environ["SQL_SERVER_PASSWORD"]
SQL_SERVER_DATABASE = os.environ["SQL_SERVER_DATABASE"] 
driver = "{ODBC Driver 18 for SQL Server}"
sqlalchemy_driver = "ODBC Driver 18 for SQL Server"

## Creatng a connection to the SQL Server
conn = pyodbc.connect(f'DRIVER={driver};SERVER={SQL_SERVER_ENDPOINT};PORT=1433;DATABASE={SQL_SERVER_DATABASE};UID={SQL_SERVER_USERNAME};PWD={SQL_SERVER_PASSWORD}')  
cursor = conn.cursor()

from openai import AzureOpenAI
aoai_client = AzureOpenAI(
  azure_endpoint = os.getenv("AZURE_OPENAI_ENDPOINT"), 
  api_key=os.getenv("AZURE_OPENAI_API_KEY"),  
  api_version="2024-07-01-preview"
)

#https://github.com/Azure-Samples/openai/blob/main/End_to_end_Solutions/AOAISearchDemo/scripts/prepopulate/populate_sql.py

#### Reading input files

In [11]:
relative_path = "../../../../data/processed/files/"
files = os.listdir(relative_path)

df = pd.concat([pd.read_parquet(relative_path+file) for file in files]).reset_index(drop=True)
df['title_vector'] = df['title_vector'].apply(lambda x: x.tolist())
df['content_vector'] = df['content_vector'].apply(lambda x: x.tolist())
df['id'] = df['chunk_id']

CONTAINER_ID = df['preprocessing_pipeline'][0]

#### Save CSV files as tables

#### Create other SQL Tables

In [12]:
cursor.execute("""
CREATE TABLE Customers (
  cust_id INTEGER,
  cust_name VARCHAR(1000),
  cust_email VARCHAR(1000),
  cust_phone VARCHAR(1000),
  cust_address VARCHAR(1000),
  PRIMARY KEY (cust_id)
);

CREATE TABLE Products (
  prod_id INTEGER,
  prod_name VARCHAR(1000),
  price FLOAT,
  category VARCHAR(1000),
  PRIMARY KEY (prod_id)
);

CREATE TABLE Merchants (
  merchant_id INTEGER,
  merchant_name VARCHAR(1000),
  merchant_region VARCHAR(1000),
  merchant_address VARCHAR(1000),
  PRIMARY KEY (merchant_id)
);

CREATE TABLE Stock (
  prod_id INTEGER,
  merchant_id INTEGER,
  stock INTEGER,
  PRIMARY KEY (prod_id, merchant_id),
  FOREIGN KEY (merchant_id) REFERENCES Merchants(merchant_id),
  FOREIGN KEY (prod_id) REFERENCES Products(prod_id)
);

CREATE TABLE Sales (
    sale_id INTEGER,
    cust_id INTEGER,
    merchant_id INTEGER,
    date DATETIME,
    total_price FLOAT,
    PRIMARY KEY (sale_id),
    FOREIGN KEY (cust_id) REFERENCES Customers(cust_id),
    FOREIGN KEY (merchant_id) REFERENCES Merchants(merchant_id)
);

CREATE TABLE Sales_Detail (
  sales_id INTEGER,
  prod_id INTEGER,
  quantity INTEGER,
  PRIMARY KEY (sales_id, prod_id),
  FOREIGN KEY (sales_id) REFERENCES Sales(sale_id),
  FOREIGN KEY (prod_id) REFERENCES Products(prod_id)
);
""")

cursor.commit()

In [13]:
import pandas as pd

In [14]:
relative_path = "../../../../data/processed/structured/"
files = os.listdir(relative_path)

In [15]:
files

['customers.csv',
 'greenTaxiData.csv',
 'merchants.csv',
 'products.csv',
 'sales.csv',
 'sales_detail.csv',
 'stock.csv',
 'yellowTaxiData.csv']

In [16]:
pd.read_csv(relative_path+"greenTaxiData.csv").head()

,vendorID,lpepPickupDatetime,lpepDropoffDatetime,passengerCount,tripDistance,puLocationId,doLocationId,pickupLongitude,pickupLatitude,dropoffLongitude,...,fareAmount,extra,mtaTax,improvementSurcharge,tipAmount,tollsAmount,ehailFee,totalAmount,tripType,transactionID
0,2,1/3/2016 21:02,1/3/2016 21:05,1,0.83,NaN,NaN,-73.987267,40.693836,-73.976112,...,4.5,0.5,0.5,0.3,0.00,0.0,NaN,5.80,1,JLYOPGED
1,2,1/19/2016 21:49,1/19/2016 21:54,1,1.27,NaN,NaN,-73.948456,40.801468,-73.959755,...,6.0,0.5,0.5,0.3,1.00,0.0,NaN,8.30,1,MRVEIORX
2,2,1/5/2016 9:46,1/5/2016 9:57,1,1.80,NaN,NaN,-73.955444,40.679798,-73.980309,...,9.5,0.0,0.5,0.3,2.06,0.0,NaN,12.36,1,TUQUVPZD
3,1,1/8/2016 17:49,1/8/2016 17:52,1,0.50,NaN,NaN,-73.922935,40.760818,-73.925499,...,4.0,1.0,0.5,0.3,1.15,0.0,NaN,6.95,1,HDXVLQUX
4,1,1/29/2016 10:28,1/29/2016 10:34,1,0.90,NaN,NaN,-73.923042,40.664940,-73.911041,...,6.0,0.0,0.5,0.3,0.00,0.0,NaN,6.80,1,KMKOEINU

In [17]:
pd.read_csv(relative_path+"yellowTaxiData.csv").head()

,vendorID,tpepPickupDateTime,tpepDropoffDateTime,passengerCount,tripDistance,puLocationId,doLocationId,startLon,startLat,endLon,...,storeAndFwdFlag,paymentType,fareAmount,extra,mtaTax,improvementSurcharge,tipAmount,tollsAmount,totalAmount,transactionID
0,2,1/6/2016 12:09,1/6/2016 12:22,1,2.09,NaN,NaN,-73.982071,40.746059,-74.004623,...,N,1,10.5,0.0,0.5,0.3,2.26,0.0,13.56,IWZHYXRG
1,1,1/3/2016 17:57,1/3/2016 18:08,3,1.50,NaN,NaN,-73.966270,40.764835,-73.984550,...,N,2,8.5,1.0,0.5,0.3,0.00,0.0,10.30,KWHGBWXW
2,1,1/18/2016 7:37,1/18/2016 7:47,1,1.80,NaN,NaN,0.000000,0.000000,0.000000,...,N,1,8.5,0.0,0.5,0.3,1.85,0.0,11.15,WYUVOPUP
3,2,1/26/2016 0:31,1/26/2016 0:38,1,1.96,NaN,NaN,-73.990623,40.755360,-73.978958,...,N,1,8.0,0.5,0.5,0.3,1.00,0.0,10.30,REQCUWHO
4,2,1/20/2016 23:37,1/20/2016 23:51,1,3.60,NaN,NaN,-73.985283,40.760262,-74.011276,...,N,1,13.5,0.5,0.5,0.3,2.50,0.0,17.30,ELSOVLCM

In [18]:
pd.read_csv(relative_path+'yellowTaxiData.csv').columns

Index(['vendorID', 'tpepPickupDateTime', 'tpepDropoffDateTime',
       'passengerCount', 'tripDistance', 'puLocationId', 'doLocationId',
       'startLon', 'startLat', 'endLon', 'endLat', 'rateCodeId',
       'storeAndFwdFlag', 'paymentType', 'fareAmount', 'extra', 'mtaTax',
       'improvementSurcharge', 'tipAmount', 'tollsAmount', 'totalAmount',
       'transactionID'],
      dtype='object')

In [19]:
pd.read_csv(relative_path+'greenTaxiData.csv').columns

Index(['vendorID', 'lpepPickupDatetime', 'lpepDropoffDatetime',
       'passengerCount', 'tripDistance', 'puLocationId', 'doLocationId',
       'pickupLongitude', 'pickupLatitude', 'dropoffLongitude',
       'dropoffLatitude', 'rateCodeID', 'storeAndFwdFlag', 'paymentType',
       'fareAmount', 'extra', 'mtaTax', 'improvementSurcharge', 'tipAmount',
       'tollsAmount', 'ehailFee', 'totalAmount', 'tripType', 'transactionID'],
      dtype='object')

#### Inserting Tables

In [20]:
import numpy as np

In [21]:
def CSVToSQL(table_name,file_location):
    # Read the CSV file
    df = pd.read_csv(file_location).fillna(np.nan).replace([np.nan], [None])
    for index, row in df.iterrows():
        insert_query = f"""
        INSERT INTO {table_name} ({', '.join(df.columns)})
        VALUES ({', '.join(['?' for _ in df.columns])})
        """
        cursor.execute(insert_query, tuple(row))
    conn.commit()

In [22]:
relative_path = "../../../../data/processed/structured/"
files = os.listdir(relative_path)

CSVToSQL("Customers",relative_path+'/customers.csv')
CSVToSQL("Products",relative_path+'/products.csv')
CSVToSQL("Merchants",relative_path+'/merchants.csv')
CSVToSQL("Stock",relative_path+'/stock.csv')
CSVToSQL("Sales",relative_path+'/sales.csv')
CSVToSQL("Sales_Detail",relative_path+'/sales_detail.csv')

cursor.commit()

### Generating description this data

In [23]:
string_to_description = ""
for file in files:
    table_name = file.replace(".csv","")
    values = str(pd.read_csv(relative_path+file).head().to_dict(orient='records'))
    sample_string = "Table name: " + table_name + " \n" + "Values: " + values+ " \n"
    string_to_description += sample_string

In [24]:
print(string_to_description)

Table name: customers
Values: [{'cust_id': 1, 'cust_name': 'John Doe', 'cust_email': 'john.doe@example.com', 'cust_phone': '555-123-4567', 'cust_address': '123 Main St, City A'}, {'cust_id': 2, 'cust_name': 'Jane Smith', 'cust_email': 'jane.smith@example.com', 'cust_phone': '555-987-6543', 'cust_address': '456 High St, City B'}, {'cust_id': 3, 'cust_name': 'Michael Johnson', 'cust_email': 'michael.johnson@example.com', 'cust_phone': '555-456-7890', 'cust_address': '789 First St, City C'}, {'cust_id': 4, 'cust_name': 'Sara Williams', 'cust_email': 'sara.williams@example.com', 'cust_phone': '555-321-6549', 'cust_address': '147 Second St, City D'}, {'cust_id': 5, 'cust_name': 'Kevin Brown', 'cust_email': 'kevin.brown@example.com', 'cust_phone': '555-987-3214', 'cust_address': '258 Third St, City E'}]
Table name: greenTaxiData
Values: [{'vendorID': 2, 'lpepPickupDatetime': '1/3/2016 21:02', 'lpepDropoffDatetime': '1/3/2016 21:05', 'passengerCount': 1, 'tripDistance': 0.83, 'puLocationId': nan, 'doLocationId': nan, 'pickupLongitude': -73.98726654, 'pickupLatitude': 40.69383621, 'dropoffLongitude': -73.97611237, 'dropoffLatitude': 40.69454575, 'rateCodeID': 1, 'storeAndFwdFlag': 'N', 'paymentType': 1, 'fareAmount': 4.5, 'extra': 0.5, 'mtaTax': 0.5, 'improvementSurcharge': 0.3, 'tipAmount': 0.0, 'tollsAmount': 0.0, 'ehailFee': nan, 'totalAmount': 5.8, 'tripType': 1, 'transactionID': 'JLYOPGED'}, {'vendorID': 2, 'lpepPickupDatetime': '1/19/2016 21:49', 'lpepDropoffDatetime': '1/19/2016 21:54', 'passengerCount': 1, 'tripDistance': 1.27, 'puLocationId': nan, 'doLocationId': nan, 'pickupLongitude': -73.94845581, 'pickupLatitude': 40.8014679, 'dropoffLongitude': -73.95975494, 'dropoffLatitude': 40.81214905, 'rateCodeID': 1, 'storeAndFwdFlag': 'N', 'paymentType': 1, 'fareAmount': 6.0, 'extra': 0.5, 'mtaTax': 0.5, 'improvementSurcharge': 0.3, 'tipAmount': 1.0, 'tollsAmount': 0.0, 'ehailFee': nan, 'totalAmount': 8.3, 'tripType': 1, 'transactionID': 'MRVEIORX'}, {'vendorID': 2, 'lpepPickupDatetime': '1/5/2016 9:46', 'lpepDropoffDatetime': '1/5/2016 9:57', 'passengerCount': 1, 'tripDistance': 1.8, 'puLocationId': nan, 'doLocationId': nan, 'pickupLongitude': -73.95544434, 'pickupLatitude': 40.67979813, 'dropoffLongitude': -73.98030853, 'dropoffLatitude': 40.67874146, 'rateCodeID': 1, 'storeAndFwdFlag': 'N', 'paymentType': 1, 'fareAmount': 9.5, 'extra': 0.0, 'mtaTax': 0.5, 'improvementSurcharge': 0.3, 'tipAmount': 2.06, 'tollsAmount': 0.0, 'ehailFee': nan, 'totalAmount': 12.36, 'tripType': 1, 'transactionID': 'TUQUVPZD'}, {'vendorID': 1, 'lpepPickupDatetime': '1/8/2016 17:49', 'lpepDropoffDatetime': '1/8/2016 17:52', 'passengerCount': 1, 'tripDistance': 0.5, 'puLocationId': nan, 'doLocationId': nan, 'pickupLongitude': -73.92293549, 'pickupLatitude': 40.76081848, 'dropoffLongitude': -73.92549896, 'dropoffLatitude': 40.75471497, 'rateCodeID': 1, 'storeAndFwdFlag': 'N', 'paymentType': 1, 'fareAmount': 4.0, 'extra': 1.0, 'mtaTax': 0.5, 'improvementSurcharge': 0.3, 'tipAmount': 1.15, 'tollsAmount': 0.0, 'ehailFee': nan, 'totalAmount': 6.95, 'tripType': 1, 'transactionID': 'HDXVLQUX'}, {'vendorID': 1, 'lpepPickupDatetime': '1/29/2016 10:28', 'lpepDropoffDatetime': '1/29/2016 10:34', 'passengerCount': 1, 'tripDistance': 0.9, 'puLocationId': nan, 'doLocationId': nan, 'pickupLongitude': -73.9230423, 'pickupLatitude': 40.66493988, 'dropoffLongitude': -73.91104126, 'dropoffLatitude': 40.66966248, 'rateCodeID': 1, 'storeAndFwdFlag': 'N', 'paymentType': 2, 'fareAmount': 6.0, 'extra': 0.0, 'mtaTax': 0.5, 'improvementSurcharge': 0.3, 'tipAmount': 0.0, 'tollsAmount': 0.0, 'ehailFee': nan, 'totalAmount': 6.8, 'tripType': 1, 'transactionID': 'KMKOEINU'}]
Table name: merchants
Values: [{'merchant_id': 1, 'merchant_name': 'ElectroMegaMart', 'merchant_region': 'North America', 'merchant_address': '123 Tech Plaza, New York, NY 10001'}, {'merchant_id': 2, 'merchant_name': 'GadgetWorld', 'merchant_region': 'Europe', 'merchant_address': '35 Innovation Way, London, UK SE1 0AA'}, {'merchant_id': 3, 'merchant_name': 'TechParadise', 'merchant_region': 'Asia', 'merchant_address': '789 Circuit Rd, Tokyo, Japan 100-0005'}, {'merchant_id': 4, 'merchant_name': 'DigitalDepot', 'merchant_region': 'South America', 'merchant_address': 'Av. de los Inventos 456, Buenos Aires, Argentina 1000'}, {'merchant_id': 5, 'merchant_name': 'ElectronixHaven', 'merchant_region': 'North America', 'merchant_address': '600 Silicon St, San Francisco, CA 94103'}]
Table name: products
Values: [{'prod_id': 1, 'prod_name': 'Surface Pro 9', 'price': 999.99, 'category': 'Tablet'}, {'prod_id': 2, 'prod_name': 'Surface Laptop 5', 'price': 899.99, 'category': 'Laptop'}, {'prod_id': 3, 'prod_name': 'Surface Slim Pen 2', 'price': 94.99, 'category': 'Accessory'}, {'prod_id': 4, 'prod_name': 'Surface Laptop SE', 'price': 299.99, 'category': 'Laptop'}, {'prod_id': 5, 'prod_name': 'Surface Laptop Go 2', 'price': 599.99, 'category': 'Laptop'}]
Table name: sales
Values: [{'sale_id': 1, 'cust_id': 8, 'merchant_id': 9, 'date': '2023-01-01', 'total_price': 75}, {'sale_id': 2, 'cust_id': 7, 'merchant_id': 3, 'date': '2023-01-02', 'total_price': 34}, {'sale_id': 3, 'cust_id': 8, 'merchant_id': 8, 'date': '2023-01-03', 'total_price': 33}, {'sale_id': 4, 'cust_id': 1, 'merchant_id': 7, 'date': '2023-01-04', 'total_price': 60}, {'sale_id': 5, 'cust_id': 7, 'merchant_id': 2, 'date': '2023-01-05', 'total_price': 93}]
Table name: sales_detail
Values: [{'sales_id': 1, 'prod_id': 1, 'quantity': 97}, {'sales_id': 1, 'prod_id': 2, 'quantity': 413}, {'sales_id': 1, 'prod_id': 3, 'quantity': 303}, {'sales_id': 1, 'prod_id': 4, 'quantity': 478}, {'sales_id': 1, 'prod_id': 5, 'quantity': 22}]
Table name: stock
Values: [{'prod_id': 1, 'merchant_id': 1, 'stock': 403}, {'prod_id': 1, 'merchant_id': 2, 'stock': 274}, {'prod_id': 1, 'merchant_id': 3, 'stock': 174}, {'prod_id': 1, 'merchant_id': 4, 'stock': 212}, {'prod_id': 1, 'merchant_id': 5, 'stock': 192}]
Table name: yellowTaxiData
Values: [{'vendorID': 2, 'tpepPickupDateTime': '1/6/2016 12:09', 'tpepDropoffDateTime': '1/6/2016 12:22', 'passengerCount': 1, 'tripDistance': 2.09, 'puLocationId': nan, 'doLocationId': nan, 'startLon': -73.98207092, 'startLat': 40.74605942, 'endLon': -74.00462341, 'endLat': 40.73062897, 'rateCodeId': 1, 'storeAndFwdFlag': 'N', 'paymentType': 1, 'fareAmount': 10.5, 'extra': 0.0, 'mtaTax': 0.5, 'improvementSurcharge': 0.3, 'tipAmount': 2.26, 'tollsAmount': 0.0, 'totalAmount': 13.56, 'transactionID': 'IWZHYXRG'}, {'vendorID': 1, 'tpepPickupDateTime': '1/3/2016 17:57', 'tpepDropoffDateTime': '1/3/2016 18:08', 'passengerCount': 3, 'tripDistance': 1.5, 'puLocationId': nan, 'doLocationId': nan, 'startLon': -73.96627045, 'startLat': 40.76483536, 'endLon': -73.98455048, 'endLat': 40.75786209, 'rateCodeId': 1, 'storeAndFwdFlag': 'N', 'paymentType': 2, 'fareAmount': 8.5, 'extra': 1.0, 'mtaTax': 0.5, 'improvementSurcharge': 0.3, 'tipAmount': 0.0, 'tollsAmount': 0.0, 'totalAmount': 10.3, 'transactionID': 'KWHGBWXW'}, {'vendorID': 1, 'tpepPickupDateTime': '1/18/2016 7:37', 'tpepDropoffDateTime': '1/18/2016 7:47', 'passengerCount': 1, 'tripDistance': 1.8, 'puLocationId': nan, 'doLocationId': nan, 'startLon': 0.0, 'startLat': 0.0, 'endLon': 0.0, 'endLat': 0.0, 'rateCodeId': 1, 'storeAndFwdFlag': 'N', 'paymentType': 1, 'fareAmount': 8.5, 'extra': 0.0, 'mtaTax': 0.5, 'improvementSurcharge': 0.3, 'tipAmount': 1.85, 'tollsAmount': 0.0, 'totalAmount': 11.15, 'transactionID': 'WYUVOPUP'}, {'vendorID': 2, 'tpepPickupDateTime': '1/26/2016 0:31', 'tpepDropoffDateTime': '1/26/2016 0:38', 'passengerCount': 1, 'tripDistance': 1.96, 'puLocationId': nan, 'doLocationId': nan, 'startLon': -73.99062347, 'startLat': 40.75535965, 'endLon': -73.97895813, 'endLat': 40.78070831, 'rateCodeId': 1, 'storeAndFwdFlag': 'N', 'paymentType': 1, 'fareAmount': 8.0, 'extra': 0.5, 'mtaTax': 0.5, 'improvementSurcharge': 0.3, 'tipAmount': 1.0, 'tollsAmount': 0.0, 'totalAmount': 10.3, 'transactionID': 'REQCUWHO'}, {'vendorID': 2, 'tpepPickupDateTime': '1/20/2016 23:37', 'tpepDropoffDateTime': '1/20/2016 23:51', 'passengerCount': 1, 'tripDistance': 3.6, 'puLocationId': nan, 'doLocationId': nan, 'startLon': -73.9852829, 'startLat': 40.76026154, 'endLon': -74.01127625, 'endLat': 40.71483231, 'rateCodeId': 1, 'storeAndFwdFlag': 'N', 'paymentType': 1, 'fareAmount': 13.5, 'extra': 0.5, 'mtaTax': 0.5, 'improvementSurcharge': 0.3, 'tipAmount': 2.5, 'tollsAmount': 0.0, 'totalAmount': 17.3, 'transactionID': 'ELSOVLCM'}]

In [25]:
def GetToolDescription(string_to_description):
    messages = [{"role":"system","content":"You are an agent that takes information about tables, including table names and sample values, with the objective of generating a description that will be used to select an OpenAI tool that will help users to interact with the mentioned tables. Please provide examples of each field"},
            {"role":"user", "content":"Information about tables "+ string_to_description}]

    response = aoai_client.chat.completions.create(model="gpt-4.1",  
                                    messages = messages, 
                                    temperature=0.2,  
                                    max_tokens=2000,
                                    seed = 42)
    DBDescription = response.choices[0].message.content
    print(DBDescription)

    return DBDescription

In [26]:
tool_description = GetToolDescription(string_to_description)

Here is a structured description of the tables and their sample values, suitable for selecting an OpenAI tool for interaction:

---

**Table Descriptions for Tool Selection**

1. Table Name: customers
   - Description: Contains customer information including unique ID, name, email, phone number, and address.
   - Sample Fields:
     - cust_id: 1
     - cust_name: "John Doe"
     - cust_email: "john.doe@example.com"
     - cust_phone: "555-123-4567"
     - cust_address: "123 Main St, City A"

2. Table Name: greenTaxiData
   - Description: Stores detailed records of green taxi trips, including vendor, pickup/dropoff times and locations, trip distance, fare breakdown, payment type, and transaction ID.
   - Sample Fields:
     - vendorID: 2
     - lpepPickupDatetime: "1/3/2016 21:02"
     - lpepDropoffDatetime: "1/3/2016 21:05"
     - passengerCount: 1
     - tripDistance: 0.83
     - pickupLongitude: -73.98726654
     - pickupLatitude: 40.69383621
     - fareAmount: 4.5
     - totalAmount: 5.8
     - transactionID: "JLYOPGED"

3. Table Name: merchants
   - Description: Contains merchant details such as unique ID, name, region, and address.
   - Sample Fields:
     - merchant_id: 1
     - merchant_name: "ElectroMegaMart"
     - merchant_region: "North America"
     - merchant_address: "123 Tech Plaza, New York, NY 10001"

4. Table Name: products
   - Description: Lists products with unique ID, name, price, and category.
   - Sample Fields:
     - prod_id: 1
     - prod_name: "Surface Pro 9"
     - price: 999.99
     - category: "Tablet"

5. Table Name: sales
   - Description: Records sales transactions, linking customers and merchants, with date and total price.
   - Sample Fields:
     - sale_id: 1
     - cust_id: 8
     - merchant_id: 9
     - date: "2023-01-01"
     - total_price: 75

6. Table Name: sales_detail
   - Description: Details the products and quantities involved in each sale.
   - Sample Fields:
     - sales_id: 1
     - prod_id: 1
     - quantity: 97

7. Table Name: stock
   - Description: Tracks the stock levels of each product at each merchant location.
   - Sample Fields:
     - prod_id: 1
     - merchant_id: 1
     - stock: 403

8. Table Name: yellowTaxiData
   - Description: Contains records of yellow taxi trips, including vendor, pickup/dropoff times and locations, trip distance, fare breakdown, payment type, and transaction ID.
   - Sample Fields:
     - vendorID: 2
     - tpepPickupDateTime: "1/6/2016 12:09"
     - tpepDropoffDateTime: "1/6/2016 12:22"
     - passengerCount: 1
     - tripDistance: 2.09
     - startLon: -73.98207092
     - startLat: 40.74605942
     - fareAmount: 10.5
     - totalAmount: 13.56
     - transactionID: "IWZHYXRG"

---

**Example for Each Field:**

- Table Name: products
- Description: Lists products with unique ID, name, price, and category.
- Sample Fields:
  - prod_id: 1
  - prod_name: "Surface Pro 9"
  - price: 999.99
  - category: "Tablet"

---

This structured description can be used by an OpenAI tool to enable users to query, analyze, or interact with the data in these tables.

#### Saving description to file

In [27]:
with open("../../../../data/processed/tool_description/GetSQLDBAnswerDescription.txt", "w") as file:
    # Write the string to the file
    file.write(tool_description)

In [28]:
result = cursor.execute("SELECT prod_name, category, price FROM Products WHERE prod_name like '%Surface%' and category like '%accessory%';")
[row for row in result.fetchall()]

[('Surface Slim Pen 2', 'Accessory', 94.99),
 ('Surface Pen', 'Accessory', 99.99),
 ('Surface Dock', 'Accessory', 199.99)]

In [29]:
result = cursor.execute("SELECT SUM(stock) AS total_stock FROM Stock WHERE prod_id IN (SELECT prod_id FROM Products WHERE prod_name LIKE '%Surface Laptop 5%');")
[row for row in result.fetchall()]

[(2527,)]

In [30]:
cursor.execute("""
CREATE TABLE greenTaxiData (  
    vendorID INT,  
    lpepPickupDatetime VARCHAR(400),  
    lpepDropoffDatetime VARCHAR(400),  
    passengerCount INT,  
    tripDistance FLOAT,  
    puLocationId FLOAT,
    doLocationId FLOAT,
    pickupLongitude FLOAT,  
    pickupLatitude FLOAT,  
    dropoffLongitude FLOAT,  
    dropoffLatitude FLOAT,  
    rateCodeID INT,  
    storeAndFwdFlag VARCHAR(400),  
    paymentType INT,  
    fareAmount FLOAT,  
    extra FLOAT,  
    mtaTax FLOAT,  
    improvementSurcharge FLOAT,  
    tipAmount FLOAT,  
    tollsAmount FLOAT,  
    ehailFee FLOAT,
    totalAmount FLOAT,  
    tripType FLOAT,
    transactionID VARCHAR(100), 
    PRIMARY KEY (transactionID),  
); 

CREATE TABLE yellowTaxiData (  
    vendorID INT,  
    tpepPickupDateTime VARCHAR(400),  
    tpepDropoffDateTime VARCHAR(400),  
    passengerCount INT,  
    tripDistance FLOAT,  
    puLocationId FLOAT,  
    doLocationId FLOAT,  
    startLon FLOAT,  
    startLat FLOAT,  
    endLon FLOAT,  
    endLat FLOAT,  
    rateCodeId INT,  
    storeAndFwdFlag VARCHAR(400),  
    paymentType INT,  
    fareAmount FLOAT,  
    extra FLOAT,  
    mtaTax FLOAT,  
    improvementSurcharge FLOAT,  
    tipAmount FLOAT,  
    tollsAmount FLOAT,  
    totalAmount FLOAT,
    transactionID VARCHAR(100), 
    PRIMARY KEY (transactionID),  
);   
""")

cursor.commit()

In [31]:
def CSVToSQL(table_name,file_location):
    # Read the CSV file
    df = pd.read_csv(file_location).fillna(np.nan).replace([np.nan], [None]).iloc[100:]
    for index, row in df.iterrows():
        insert_query = f"""
        INSERT INTO {table_name} ({', '.join(df.columns)})
        VALUES ({', '.join(['?' for _ in df.columns])})
        """
        cursor.execute(insert_query, tuple(row))
    conn.commit()

In [32]:
relative_path = "../../../../data/processed/structured/"
files = os.listdir(relative_path)


CSVToSQL("greenTaxiData",relative_path+'/greenTaxiData.csv')
CSVToSQL("yellowTaxiData",relative_path+'/yellowTaxiData.csv')

cursor.commit()