### Import libraries

In [60]:
import os
import pandas as pd
import pyodbc, struct
from azure import identity
from faker import Faker
from typing import Union
from fastapi import FastAPI
from pydantic import BaseModel
from sqlalchemy import create_engine

from dotenv import load_dotenv
load_dotenv(override=True)
connection_string = os.environ["AZURE_SQL_CONNECTIONSTRING"]

SQL_SERVER_USERNAME = os.environ["SQL_SERVER_USERNAME"]
SQL_SERVER_ENDPOINT = os.environ["SQL_SERVER_ENDPOINT"]
SQL_SERVER_PASSWORD = os.environ["SQL_SERVER_PASSWORD"]
SQL_SERVER_DATABASE = os.environ["SQL_SERVER_DATABASE"] 
driver = "{ODBC Driver 18 for SQL Server}"
sqlalchemy_driver = "ODBC Driver 18 for SQL Server"

## Creatng a connection to the SQL Server
conn = pyodbc.connect(f'DRIVER={driver};SERVER={SQL_SERVER_ENDPOINT};PORT=1433;DATABASE={SQL_SERVER_DATABASE};UID={SQL_SERVER_USERNAME};PWD={SQL_SERVER_PASSWORD}')  
cursor = conn.cursor()

from openai import AzureOpenAI
aoai_client = AzureOpenAI(
  azure_endpoint = os.getenv("AZURE_OPENAI_ENDPOINT"), 
  api_key=os.getenv("AZURE_OPENAI_API_KEY"),  
  api_version="2024-07-01-preview"
)

#https://github.com/Azure-Samples/openai/blob/main/End_to_end_Solutions/AOAISearchDemo/scripts/prepopulate/populate_sql.py

#### Reading input files

In [3]:
relative_path = "../../../../data/processed/files/"
files = os.listdir(relative_path)

df = pd.concat([pd.read_parquet(relative_path+file) for file in files]).reset_index(drop=True)
df['title_vector'] = df['title_vector'].apply(lambda x: x.tolist())
df['content_vector'] = df['content_vector'].apply(lambda x: x.tolist())
df['id'] = df['chunk_id']

CONTAINER_ID = df['preprocessing_pipeline'][0]

#### Save CSV files as tables

#### Create other SQL Tables

In [4]:
cursor.execute("""
CREATE TABLE Customers (
  cust_id INTEGER,
  cust_name VARCHAR(1000),
  cust_email VARCHAR(1000),
  cust_phone VARCHAR(1000),
  cust_address VARCHAR(1000),
  PRIMARY KEY (cust_id)
);

CREATE TABLE Products (
  prod_id INTEGER,
  prod_name VARCHAR(1000),
  price FLOAT,
  category VARCHAR(1000),
  PRIMARY KEY (prod_id)
);

CREATE TABLE Merchants (
  merchant_id INTEGER,
  merchant_name VARCHAR(1000),
  merchant_region VARCHAR(1000),
  merchant_address VARCHAR(1000),
  PRIMARY KEY (merchant_id)
);

CREATE TABLE Stock (
  prod_id INTEGER,
  merchant_id INTEGER,
  stock INTEGER,
  PRIMARY KEY (prod_id, merchant_id),
  FOREIGN KEY (merchant_id) REFERENCES Merchants(merchant_id),
  FOREIGN KEY (prod_id) REFERENCES Products(prod_id)
);

CREATE TABLE Sales (
    sale_id INTEGER,
    cust_id INTEGER,
    merchant_id INTEGER,
    date DATETIME,
    total_price FLOAT,
    PRIMARY KEY (sale_id),
    FOREIGN KEY (cust_id) REFERENCES Customers(cust_id),
    FOREIGN KEY (merchant_id) REFERENCES Merchants(merchant_id)
);

CREATE TABLE Sales_Detail (
  sales_id INTEGER,
  prod_id INTEGER,
  quantity INTEGER,
  PRIMARY KEY (sales_id, prod_id),
  FOREIGN KEY (sales_id) REFERENCES Sales(sale_id),
  FOREIGN KEY (prod_id) REFERENCES Products(prod_id)
);
""")

cursor.commit()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]There is already an object named 'Customers' in the database. (2714) (SQLExecDirectW)")

In [5]:
import pandas as pd

In [6]:
relative_path = "../../../../data/processed/structured/"
files = os.listdir(relative_path)

In [7]:
files

['customers.csv',
 'greenTaxiData.csv',
 'merchants.csv',
 'products.csv',
 'sales.csv',
 'sales_detail.csv',
 'stock.csv',
 'yellowTaxiData.csv']

In [47]:
pd.read_csv(relative_path+"greenTaxiData.csv").head()

,vendorID,lpepPickupDatetime,lpepDropoffDatetime,passengerCount,tripDistance,puLocationId,doLocationId,pickupLongitude,pickupLatitude,dropoffLongitude,...,paymentType,fareAmount,extra,mtaTax,improvementSurcharge,tipAmount,tollsAmount,ehailFee,totalAmount,tripType
0,2,2016-01-03 21:02:35,2016-01-03 21:05:52,1,0.83,NaN,NaN,-73.987267,40.693836,-73.976112,...,1,4.5,0.5,0.5,0.3,0.00,0.0,NaN,5.80,1.0
1,2,2016-01-19 21:49:17,2016-01-19 21:54:37,1,1.27,NaN,NaN,-73.948456,40.801468,-73.959755,...,1,6.0,0.5,0.5,0.3,1.00,0.0,NaN,8.30,1.0
2,2,2016-01-05 09:46:18,2016-01-05 09:57:28,1,1.80,NaN,NaN,-73.955444,40.679798,-73.980309,...,1,9.5,0.0,0.5,0.3,2.06,0.0,NaN,12.36,1.0
3,1,2016-01-08 17:49:12,2016-01-08 17:52:20,1,0.50,NaN,NaN,-73.922935,40.760818,-73.925499,...,1,4.0,1.0,0.5,0.3,1.15,0.0,NaN,6.95,1.0
4,1,2016-01-29 10:28:21,2016-01-29 10:34:59,1,0.90,NaN,NaN,-73.923042,40.664940,-73.911041,...,2,6.0,0.0,0.5,0.3,0.00,0.0,NaN,6.80,1.0

In [48]:
pd.read_csv(relative_path+"yellowTaxiData.csv").head()

,vendorID,tpepPickupDateTime,tpepDropoffDateTime,passengerCount,tripDistance,puLocationId,doLocationId,startLon,startLat,endLon,...,rateCodeId,storeAndFwdFlag,paymentType,fareAmount,extra,mtaTax,improvementSurcharge,tipAmount,tollsAmount,totalAmount
0,2,2016-01-06 12:09:13,2016-01-06 12:22:14,1,2.09,NaN,NaN,-73.982071,40.746059,-74.004623,...,1,N,1,10.5,0.0,0.5,0.3,2.26,0.0,13.56
1,1,2016-01-03 17:57:48,2016-01-03 18:08:18,3,1.50,NaN,NaN,-73.966270,40.764835,-73.984550,...,1,N,2,8.5,1.0,0.5,0.3,0.00,0.0,10.30
2,1,2016-01-18 07:37:51,2016-01-18 07:47:01,1,1.80,NaN,NaN,0.000000,0.000000,0.000000,...,1,N,1,8.5,0.0,0.5,0.3,1.85,0.0,11.15
3,2,2016-01-26 00:31:36,2016-01-26 00:38:47,1,1.96,NaN,NaN,-73.990623,40.755360,-73.978958,...,1,N,1,8.0,0.5,0.5,0.3,1.00,0.0,10.30
4,2,2016-01-20 23:37:22,2016-01-20 23:51:09,1,3.60,NaN,NaN,-73.985283,40.760262,-74.011276,...,1,N,1,13.5,0.5,0.5,0.3,2.50,0.0,17.30

In [31]:
pd.read_csv(relative_path+'yellowTaxiData.csv').columns

Index(['vendorID', 'tpepPickupDateTime', 'tpepDropoffDateTime',
       'passengerCount', 'tripDistance', 'puLocationId', 'doLocationId',
       'startLon', 'startLat', 'endLon', 'endLat', 'rateCodeId',
       'storeAndFwdFlag', 'paymentType', 'fareAmount', 'extra', 'mtaTax',
       'improvementSurcharge', 'tipAmount', 'tollsAmount', 'totalAmount'],
      dtype='object')

In [33]:
pd.read_csv(relative_path+'greenTaxiData.csv').columns

Index(['vendorID', 'lpepPickupDatetime', 'lpepDropoffDatetime',
       'passengerCount', 'tripDistance', 'puLocationId', 'doLocationId',
       'pickupLongitude', 'pickupLatitude', 'dropoffLongitude',
       'dropoffLatitude', 'rateCodeID', 'storeAndFwdFlag', 'paymentType',
       'fareAmount', 'extra', 'mtaTax', 'improvementSurcharge', 'tipAmount',
       'tollsAmount', 'ehailFee', 'totalAmount', 'tripType'],
      dtype='object')

#### Inserting Tables

In [41]:
import numpy as np

In [53]:
def CSVToSQL(table_name,file_location):
    # Read the CSV file
    df = pd.read_csv(file_location).fillna(np.nan).replace([np.nan], [None])
    for index, row in df.iterrows():
        insert_query = f"""
        INSERT INTO {table_name} ({', '.join(df.columns)})
        VALUES ({', '.join(['?' for _ in df.columns])})
        """
        cursor.execute(insert_query, tuple(row))
    conn.commit()

In [62]:
relative_path = "../../../../data/processed/structured/"
files = os.listdir(relative_path)

CSVToSQL("Customers",relative_path+'/customers.csv')
CSVToSQL("Products",relative_path+'/products.csv')
CSVToSQL("Merchants",relative_path+'/merchants.csv')
CSVToSQL("Stock",relative_path+'/stock.csv')
CSVToSQL("Sales",relative_path+'/sales.csv')
CSVToSQL("Sales_Detail",relative_path+'/sales_detail.csv')

cursor.commit()

### Generating description this data

In [90]:
string_to_description = ""
for file in files:
    table_name = file.replace(".csv","")
    values = str(pd.read_csv(relative_path+file).head().to_dict(orient='records'))
    sample_string = "Table name: " + table_name + " \n" + "Values: " + values+ " \n"
    string_to_description += sample_string

In [91]:
print(string_to_description)

Table name: customers
Values: [{'cust_id': 1, 'cust_name': 'John Doe', 'cust_email': 'john.doe@example.com', 'cust_phone': '555-123-4567', 'cust_address': '123 Main St, City A'}, {'cust_id': 2, 'cust_name': 'Jane Smith', 'cust_email': 'jane.smith@example.com', 'cust_phone': '555-987-6543', 'cust_address': '456 High St, City B'}, {'cust_id': 3, 'cust_name': 'Michael Johnson', 'cust_email': 'michael.johnson@example.com', 'cust_phone': '555-456-7890', 'cust_address': '789 First St, City C'}, {'cust_id': 4, 'cust_name': 'Sara Williams', 'cust_email': 'sara.williams@example.com', 'cust_phone': '555-321-6549', 'cust_address': '147 Second St, City D'}, {'cust_id': 5, 'cust_name': 'Kevin Brown', 'cust_email': 'kevin.brown@example.com', 'cust_phone': '555-987-3214', 'cust_address': '258 Third St, City E'}]
Table name: merchants
Values: [{'merchant_id': 1, 'merchant_name': 'ElectroMegaMart', 'merchant_region': 'North America', 'merchant_address': '123 Tech Plaza, New York, NY 10001'}, {'merchant_id': 2, 'merchant_name': 'GadgetWorld', 'merchant_region': 'Europe', 'merchant_address': '35 Innovation Way, London, UK SE1 0AA'}, {'merchant_id': 3, 'merchant_name': 'TechParadise', 'merchant_region': 'Asia', 'merchant_address': '789 Circuit Rd, Tokyo, Japan 100-0005'}, {'merchant_id': 4, 'merchant_name': 'DigitalDepot', 'merchant_region': 'South America', 'merchant_address': 'Av. de los Inventos 456, Buenos Aires, Argentina 1000'}, {'merchant_id': 5, 'merchant_name': 'ElectronixHaven', 'merchant_region': 'North America', 'merchant_address': '600 Silicon St, San Francisco, CA 94103'}]
Table name: products
Values: [{'prod_id': 1, 'prod_name': 'Surface Pro 9', 'price': 999.99, 'category': 'Tablet'}, {'prod_id': 2, 'prod_name': 'Surface Laptop 5', 'price': 899.99, 'category': 'Laptop'}, {'prod_id': 3, 'prod_name': 'Surface Slim Pen 2', 'price': 94.99, 'category': 'Accessory'}, {'prod_id': 4, 'prod_name': 'Surface Laptop SE', 'price': 299.99, 'category': 'Laptop'}, {'prod_id': 5, 'prod_name': 'Surface Laptop Go 2', 'price': 599.99, 'category': 'Laptop'}]
Table name: sales
Values: [{'sale_id': 1, 'cust_id': 8, 'merchant_id': 9, 'date': '2023-01-01', 'total_price': 75}, {'sale_id': 2, 'cust_id': 7, 'merchant_id': 3, 'date': '2023-01-02', 'total_price': 34}, {'sale_id': 3, 'cust_id': 8, 'merchant_id': 8, 'date': '2023-01-03', 'total_price': 33}, {'sale_id': 4, 'cust_id': 1, 'merchant_id': 7, 'date': '2023-01-04', 'total_price': 60}, {'sale_id': 5, 'cust_id': 7, 'merchant_id': 2, 'date': '2023-01-05', 'total_price': 93}]
Table name: sales_detail
Values: [{'sales_id': 1, 'prod_id': 1, 'quantity': 97}, {'sales_id': 1, 'prod_id': 2, 'quantity': 413}, {'sales_id': 1, 'prod_id': 3, 'quantity': 303}, {'sales_id': 1, 'prod_id': 4, 'quantity': 478}, {'sales_id': 1, 'prod_id': 5, 'quantity': 22}]
Table name: stock
Values: [{'prod_id': 1, 'merchant_id': 1, 'stock': 403}, {'prod_id': 1, 'merchant_id': 2, 'stock': 274}, {'prod_id': 1, 'merchant_id': 3, 'stock': 174}, {'prod_id': 1, 'merchant_id': 4, 'stock': 212}, {'prod_id': 1, 'merchant_id': 5, 'stock': 192}]

In [156]:
def GetToolDescription(string_to_description):
    messages = [{"role":"system","content":"You are an agent that takes information about tables, including table names and sample values, with the objective of generating a description that will be used to select an OpenAI tool that will help users to interact with the mentioned tables. Please provide examples of each field"},
            {"role":"user", "content":"Information about tables "+ string_to_description}]

    response = aoai_client.chat.completions.create(model="gpt4o",  
                                    messages = messages, 
                                    temperature=0.2,  
                                    max_tokens=2000,
                                    seed = 42)
    DBDescription = response.choices[0].message.content
    print(DBDescription)

    return DBDescription

In [157]:
tool_description = GetToolDescription(string_to_description)

The database consists of six tables: **customers**, **merchants**, **products**, **sales**, **sales_detail**, and **stock**.

1. **Customers Table**: This table contains customer information such as ID, name, email, phone number, and address. For example, customer ID 1 is John Doe with the email john.doe@example.com and resides at 123 Main St, City A.

2. **Merchants Table**: This table holds merchant details including ID, name, region, and address. For instance, merchant ID 1 is ElectroMegaMart located at 123 Tech Plaza, New York, NY 10001.

3. **Products Table**: This table lists products with details like product ID, name, price, and category. An example is product ID 1, Surface Pro 9, priced at $999.99 under the Tablet category.

4. **Sales Table**: This table records sales transactions with fields for sale ID, customer ID, merchant ID, date, and total price. For example, sale ID 1 involves customer ID 8 and merchant ID 9 on 2023-01-01 with a total price of $75.

5. **Sales Detail Table**: This table provides details of each sale, including sales ID, product ID, and quantity sold. For instance, sales ID 1 includes product ID 1 with a quantity of 97.

6. **Stock Table**: This table tracks the stock levels of products at different merchants, with fields for product ID, merchant ID, and stock quantity. For example, product ID 1 has a stock of 403 at merchant ID 1.

These tables are interconnected, allowing for comprehensive tracking of customer interactions, product availability, and sales performance across different regions and merchants.

#### Saving description to file

In [147]:
with open("../../../../data/processed/tool_description/GetSQLDBAnswerDescription.txt", "w") as file:
    # Write the string to the file
    file.write(tool_description)

In [148]:
result = cursor.execute("SELECT prod_name, category, price FROM Products WHERE prod_name like '%Surface%' and category like '%accessory%';")
[row for row in result.fetchall()]

[('Surface Slim Pen 2', 'Accessory', 94.99),
 ('Surface Pen', 'Accessory', 99.99),
 ('Surface Dock', 'Accessory', 199.99)]

In [149]:
result = cursor.execute("SELECT SUM(stock) AS total_stock FROM Stock WHERE prod_id IN (SELECT prod_id FROM Products WHERE prod_name LIKE '%Surface Laptop 5%');")
[row for row in result.fetchall()]

[(2527,)]

In [71]:
cursor.execute("""
CREATE TABLE greenTaxiData (  
    vendorID INT,  
    lpepPickupDatetime VARCHAR(400),  
    lpepDropoffDatetime VARCHAR(400),  
    passengerCount INT,  
    tripDistance FLOAT,  
    puLocationId FLOAT,
    doLocationId FLOAT,
    pickupLongitude FLOAT,  
    pickupLatitude FLOAT,  
    dropoffLongitude FLOAT,  
    dropoffLatitude FLOAT,  
    rateCodeID INT,  
    storeAndFwdFlag VARCHAR(400),  
    paymentType INT,  
    fareAmount FLOAT,  
    extra FLOAT,  
    mtaTax FLOAT,  
    improvementSurcharge FLOAT,  
    tipAmount FLOAT,  
    tollsAmount FLOAT,  
    ehailFee FLOAT,
    totalAmount FLOAT,  
    tripType FLOAT,
    transactionID VARCHAR(100), 
    PRIMARY KEY (transactionID),  
); 

CREATE TABLE yellowTaxiData (  
    vendorID INT,  
    tpepPickupDateTime VARCHAR(400),  
    tpepDropoffDateTime VARCHAR(400),  
    passengerCount INT,  
    tripDistance FLOAT,  
    puLocationId FLOAT,  
    doLocationId FLOAT,  
    startLon FLOAT,  
    startLat FLOAT,  
    endLon FLOAT,  
    endLat FLOAT,  
    rateCodeId INT,  
    storeAndFwdFlag VARCHAR(400),  
    paymentType INT,  
    fareAmount FLOAT,  
    extra FLOAT,  
    mtaTax FLOAT,  
    improvementSurcharge FLOAT,  
    tipAmount FLOAT,  
    tollsAmount FLOAT,  
    totalAmount FLOAT,
    transactionID VARCHAR(100), 
    PRIMARY KEY (transactionID),  
);   
""")

cursor.commit()

In [74]:
def CSVToSQL(table_name,file_location):
    # Read the CSV file
    df = pd.read_csv(file_location).fillna(np.nan).replace([np.nan], [None]).iloc[100:]
    for index, row in df.iterrows():
        insert_query = f"""
        INSERT INTO {table_name} ({', '.join(df.columns)})
        VALUES ({', '.join(['?' for _ in df.columns])})
        """
        cursor.execute(insert_query, tuple(row))
    conn.commit()

In [75]:
relative_path = "../../../../data/processed/structured/"
files = os.listdir(relative_path)


CSVToSQL("greenTaxiData",relative_path+'/greenTaxiData.csv')
CSVToSQL("yellowTaxiData",relative_path+'/yellowTaxiData.csv')

cursor.commit()